* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.task-form {
  width: 500px;
  height: 40px;
  font-size: 1.5rem;
  text-indent: 10px;
}

.edit,
.delete {
  border: none;
  padding: 1rem 2rem;
  background-color: transparent;
}
.edit-icon,
.delete-icon,
.star-icon {
  font-size: 2rem;
  cursor: pointer;
}
